@media (max-width: 691px) { aside { width: 100%; height: 50px; padding: 5px; z-index: 5; }
  aside .mobile-wrapper { display: none; }
  aside .intro { position: relative; }
  aside .intro .toggle-menu { position: absolute; top: 5px; right: 20px; }
  .container { width: 100%; left: 0; }
  .top-menu-wrapper { display: none; }
  form .form-field { flex-direction: column; }
  form .form-field label, form .form-field input { margin: 0 auto; }
  form .form-field label { text-align: center; } }

@media (max-width: 833px) { .calendar { align-items: center; }
  .calendar .date-picker { display: flex; flex-direction: column; }
  .calendar .date-picker input { border: none; border-bottom: 1px solid #E3E3E3; }
  .calendar .date-picker .icon { margin: 5px auto; } }
