*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $body-background;
  font-size: 14px;
  line-height: 1.7;
  color: $color-dark;
  display: flex;
}

.container {
  width: calc(100% - 250px);
  top: 50px;
  left: 250px;
  padding: 0 20px 20px 20px;
  position: absolute;
}

.row {
  background-color: $container-background;
  margin: 1px auto;
  padding: 15px;
}

.section-title {
  margin-top: 15px;
}

h1 {
  font-size: 18px;
  margin: 0;
  color: $color-header;
}

h2 {
  font-size: 16px;
  margin: 0;
  color: $color-header;
  text-transform: uppercase;
}

h3 {
  font-size: 14px;
  margin: 0;
  color: $color-header;
}

a {
  color: $links-color;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: $orange-hover;
  }
}
