*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $body-background;
  font-size: 16px;
  line-height: 1.7;
  color: $color-dark;
  display: flex;
}

.container {
  width: calc(100% - 250px);
  top: 50px;
  left: 250px;
  padding: 0 20px 20px 20px;
  position: absolute;
}

.row {
  background-color: $container-background;
  margin: 0 auto;
  border-top: 1px solid $body-background;
  padding: 15px;
  text-align: center;
}

.section-title {
  margin-top: 15px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 20px;
  margin: 0;
  color: $color-header;
}

h2 {
  font-size: 18px;
  margin: 0;
  color: $color-header;
  text-transform: uppercase;
}

h3 {
  @include h3;
}

a {
  color: $links-color;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: $orange-hover;
  }
}

#links, #banners, #payout {
  display: none;

  &.active {
    display: block;
  }
}
