@font-face {
  font-family: 'Glyphter';

  src:
  local('Glyphter')
  url('vendor/fonts/Glyphter.eot')
  format('opentype');

  src:
  local('Glyphter')
  url('vendor/fonts/Glyphter.ttf')
  format('truetype');
}

@mixin circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: $links-color;
  border-radius: 100%;
  margin: 0 15px;
}

@mixin h3 {
  font-size: 17px;
  margin: 0;
  color: $color-header;
}

@mixin td {
  vertical-align: middle;
  padding: 20px;
  border-bottom: 1.5px solid $body-background;
  border-top: 1.5px solid $body-background;
}

@mixin focus {
  outline: 1px solid $color-header;
  cursor: pointer;
}
