@font-face {
  font-family: 'Glyphter';

  src:
  local('Glyphter')
  url('vendor/icon-font/fonts/Glyphter.eot')
  format('opentype');

  src:
  local('Glyphter')
  url('vendor/icon-font/fonts/Glyphter.ttf')
  format('truetype');
}

@mixin circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: $links-color;
  border-radius: 100%;
  margin: 0 15px;
}
