@font-face {
  font-family: 'Glyphter';

  src:
  local('Glyphter')
  url('vendor/icon-font/fonts/Glyphter.eot')
  format('opentype');

  src:
  local('Glyphter')
  url('vendor/icon-font/fonts/Glyphter.ttf')
  format('truetype');
}
