/* Colors */
$color-dark: #333333;
$color-header: #979797;

$body-background: #E3E3E3;
$container-background: #ffffff;

$links-color: #56819F;
$orange-hover: #FFA200;

$btn-color-light: #F58220;
$btn-color-dark: #979797;
$btn-dark-hover: #bababa;
$btn-disabled: #F5F5F2;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$icons-font: "Glyphter", sans-serif;
