form {

  .form-field {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 10px auto;

    label {
      text-align: left;
      min-width: 150px;
    }

    input {
      padding: 7px;
      border: 1px solid $body-background;
      border-radius: 5px;

      &:focus {
        outline: 1px solid $color-header;
        cursor: pointer;
      }
    }
  }

  .row {
    padding: 30px;
  }

}
