form {

  label {
    display: inline-block;
    margin: 15px;
  }

  input {
    margin: 15px;
    padding: 5px;
    border: 1px solid $body-background;
    border-radius: 5px;

    &:focus {
      outline: 1px solid $color-header;
      cursor: pointer;
    }
  }

  .row {
    padding: 30px;
  }

}
