/* Icons */

.icon-wrapper {
  width: auto;
  height: 50px;
  padding: 15px;

  &:hover {
    cursor: pointer;
    background-color: $btn-disabled;
  }
}

.icon {
  width: 18px;
  height: 18px;
}

i {
  padding: 5px;
  margin-right: 10px;

  &:hover {
    cursor: pointer;
    background-color: $btn-disabled;
  }
}
