table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;

  thead {

    th {
      @include h3;
      @include td;

      &:hover {
        background-color: $btn-disabled;
        color: #000000;
        cursor: pointer;
      }
    }

  }

  tbody {

    tr {
      &:hover {
        background-color: $btn-disabled;
        cursor: pointer;
      }
    }
  }

  td {
    @include td;
  }

}
