#logout {
  display: none;

  &.active {
    display: block;
  }
}

.logout-box {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);

  .row {
    display: flex;

    button, a {
      width: 100px;
    }

    a {
      line-height: 2.3;

      p {
        margin: 0;
      }
    }
  }
}
