#logout {
  display: none;

  &.active {
    display: block;
  }
}

.logout-box {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);

  button {
    display: inline-block;
  }
}
