aside {
  position: relative;
  background-color: #000000;
  height: 100vh;
  width: 10vw;
  padding: 20px;
}

.page-title {
  display: inline;
}

.toggle-menu {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
  filter: invert(0.5);
}
