aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  height: 100vh;
  width: 250px;
  padding: 20px;
}

.intro {
  position: absolute;
  top: 0;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: baseline;

  .page-title {
    color: #ffffff;
    font-family: $font-logo;
    font-size: 20px;
    margin-right: 80px;
  }

  .toggle-menu {
    filter: invert(0.5);

    &:hover {
      filter: invert(1);
      cursor: pointer;
    }
  }
}

.nav-menu {
  li {
    padding: 10px 20px;

    &:hover {
      border-left: 3px solid $btn-color-light;
    }

    i {
      
      &:hover {
        background-color: inherit;
      }
    }
  }
}

.manager {
  h3 {
    margin: 10px 10px 10px 0;
  }

  .manager-pic {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    object-fit: cover;
    display: inline-block;
    float: left;
  }

  p {
    display: inline-block;
    margin-left: 10px;
  }
}

.side-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  bottom: 0;

  .icon-wrapper {
    display: flex;
    flex-direction: row;

    &:hover {
      background-color: inherit;
    }

    h2, p {
      margin: 0 10px;
    }

    .icon {
      filter: invert(0.5);

      &:hover {
        filter: invert(1);
      }
    }
  }

  .employee {
    order: -1;
  }

}
