#general {
  display: none;

  &.active {
    display: block;
  }
}

.calendar {
  display: flex;
  justify-content: center;
  align-items: baseline;

  .date-picker {
    border: 1px solid $body-background;
    border-radius: 5px;
    padding: 5px;

    &:hover {
      outline: 1px solid $color-header;
    }

    .icon:hover {
      cursor: pointer;
    }

    input {
      padding: 10px;
      border: none;
      border-right: 1px solid $body-background;
    }
  }

  button {
    margin: 15px;
  }
}

.chart {
  text-align: -webkit-center;

  table {
    border-spacing: 30px;
    border-collapse: separate;

    tr:hover {
      background-color: inherit;
      cursor: auto;
    }

    td {
      border-top: none;
      position: relative;
      padding: 0;

      &:hover {
        background-color: $btn-disabled;
        cursor: pointer;
      }

      h3, p {
        display: inline;
      }

      p {
        position: absolute;
        right: 0;
        margin: 0;
      }
    }
  }

  .chart-heading {
    text-align: initial;
    margin: 10px;
    margin-left: 50px;
  }
}
